# minetest.timer
[Unit] 
Description=Runs the rtspStream.service 1 minute after boot up

[Timer] 
OnBootSec=30
Unit=rtspStream.service

[Install] 
WantedBy=basic.target
